# DODAJ ZMIENNE DO PLIKU .env
#GENERAL
#VITE_API_BASE_URL=http://localhost:3000 opcjonalnie dajesz ip adresu serwera
PORT=3001
#HTTPS=true

#wygeneruj poprzez jwt secret generator na necie
JWT_SECRET=afb403681729efddb44367216d7e862ba40858e101a5b932a196238f7d909794cf3b1827337381b6

#SSL
#SSL_CRT_FILE=ssl/localhost.crt
#SSL_KEY_FILE=ssl/localhost.key

GENERATE_SOURCEMAP=false

#VITE_DB_SOURCE=local or supabase
VITE_DB_SOURCE=local

#if VITE_DB_SOURCE=supabase add VITE_SUPABASE_URL and VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SERVICE_ROLE_KEY=